#home{
    clear: both;
}
#home>.slide-container{
    width: 90%;
    margin-left: 5%;
}
#home>.slide-container .each-slide{
    display: flex;
    flex-direction: row;
}
#home>#event{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(243,243,243);
}
#home>#sectionTitle{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(244,67,88);
    font-weight: bold;
}
#home>#event>#container{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
}
#home>#event>#container>#title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(244,67,88);
    font-weight: bold;
}
#home>#event>#container>#content{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
}
#home>#event>#container>#content>.item{

}
#home>#event>#container>#content>.item1{
    grid-column: span 2;
    grid-row: 1;
}
#home>#event>#container>#content>.item>img{
    width: 100%;
    border-radius: 1px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
}
#home>#event>#container>#content>.item>#title{
    margin-top: 14px;
    font-weight: bold;
    color: black;
}
#home>#event>#container>#content>.item>#line{
    margin-top: 10px;
    width: 20%;
    border-top: 3px solid rgb(244,67,88);
    border-radius: 5px;
}
#home>#event>#container>#content>.item>#date{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}
#home>#event>#container>#content>.item>#date>img{
    height: 15px;
    margin-right: 5px;
}
#home>#event>#container>#content>.item>#date>span{
    font-size: 12px;
    color: rgb(244,67,88);
    font-weight: bold;
}
#home>#event>#container>#content>.item>#foo{
    text-align: justify;
    margin-top: 10px;
    line-height: 25px;
    font-size: 14px;

}
#slide{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#slide>.slide-container{
    width: 100%;
    border-radius: 5px;
}
#slide>.slide-container .each-slide{
    width: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
}
#slide>.slide-container .each-slide>#image{
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
    border-radius: 3px;
}
#slide>.slide-container .each-slide>#image>#shadow{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    display: block;
    background: rgb(0,0,0);
    background: linear-gradient(176deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}
#slide>.slide-container .each-slide>#image>#about{
    position: absolute;
    width: 70%;
    padding: 20px;
    left: 15%;
    right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30%;
    gap: 10px;
}
#slide>.slide-container .each-slide>#image>#about>#title{
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
#slide>.slide-container .each-slide>#image>#about>#text{
    color: white;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
}
#slide>.slide-container .each-slide>#image>#about>button{
    background-color: rgb(50,139,245);
    border: none;
    padding: 5px;
    color: white;
}
#slide>.slide-container .each-slide>#image>#caption{
    position: absolute;
    width: 25%;
    background-color: rgb(50,139,245);
    bottom: 10%;
    right: 10%;
    border-radius: 2px;
    padding: 10px;
    line-height: 30px;
}
#slide>.slide-container .each-slide>#image>#caption>#title{
    color: white;
    font-size: 14px;
    padding-bottom: 2px;
    border-bottom: 2px solid white;
    font-weight: bold;
}
#slide>.slide-container .each-slide>#image>#caption>#about{
    font-size: 14px;
    color: yellow;
}
#slide>#article{
    width: 35%;
    margin-left: 5%;
    color: white;
    margin-top: 15px;
}
#slide>#article>#vision{
    width: 100%;
}
#slide>#article>#vision>#title{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(57,17,69);
    font-size: 25px;
    font-weight: bold;
}
#slide>#article>#vision>#title>img{
    width: 100px;
}
#slide>#article>#vision>#title>span:nth-child(1){
    color: black;
    margin-right: 8px;
    font-size: 20px;
    margin-bottom: 5px;
}
#slide>#article>#vision>#title>span:nth-child(2){
    margin-bottom: 25px;
}
#slide>#article>#vision>#title>span:nth-child(3){
    color: rgb(252,100,129);
    margin-right: 8px;
    font-size: 15px;
}
#slide>#article>#vision>#title>span#line{
    height: 5px;
    width: 100px;
    background-color:rgb(252,100,129);
    border-radius: 5px;
    margin-top: 10px;
}
#slide>#article>#vision>#container{
    margin-top: 20px;
    width: 100%;
    /*background-color: rgb(50,139,245);*/
    font-size: 14px;
    line-height: 25px;
    border-radius: 3px;
    color: black;
}
#slide>#article>#vision>#container>#about{
    text-align: justify;
}
#slide>#article>#futureStrategy{
    width: 100%;
    color: black;
    margin-top: 20px;
}
#slide>#article>#futureStrategy>#title{
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    color:rgb(50,139,245);
    font-weight: bold;
}
#slide>#article>#futureStrategy>#title>#line{
    width: 60px;
    height: 1px;
    background-color: rgba(0,0,0,0.5);
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
}
#slide>#article>#futureStrategy>#container{

}
#slide>#article>#futureStrategy>#container>#about{
    text-align: justify;
    line-height: 27px;
    font-size: 14px;
    color: black;
}
#message{
    width: 100%;
    background-color: rgb(237,243,246);
}
#message>#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
    width: 90%;
}
#message>#container>#profile{
    width: 25%;
    padding: 2.5% 5% 2.5% 0;
    display: flex;
    flex-direction: column;
}
#message>#container>#profile>#image{
    width: 200px;
}
#message>#container>#profile>#image>img{
    width: 200px;
}
#message>#container>#profile>#title{
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(50,139,245);
}
#message>#container>#profile>#name{
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
}
#message>#container>#profile>#post{
    font-size: 14px;
    color: rgba(0,0,0,0.7);
    margin-top: 8px;
}
#message>#container>#profile>#schoolName{
    margin-top: 20px;
    font-size: 14px;
}
#message>#container>#profile>#address{
    margin-top: 8px;
    font-size: 13px;
    color: rgba(0,0,0,0.7);
}
#message>#container>#words{
    width: 70%;
    padding: 2.5% 0 2.5% 0;
    display: flex;
    flex-direction: column;
}
#message>#container>#words>#title{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 27px;
    color:rgb(50,139,245) ;
    display: flex;
    flex-direction: column;
}
#message>#container>#words>#title>#line{
    height: 3px;
    width: 50px;
    background-color: crimson;
    border-radius: 5px;
    margin-top: 15px;
}
#message>#container>#words>#about{
    text-align: justify;
    line-height: 30px;
    font-size: 14px;
}
#message>#container>#words>button{
    margin-top: 25px;
    border: none;
    border-radius: 2px;
    background-color: rgb(50,139,245);
    color: white;
    width: 150px;
    padding: 5px;
    cursor: pointer;
}
#welcome>#container>#provide{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Poppins, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}
#welcome>#container>#provide>.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: rgb(43,82,115);
    color: white;
    padding: 20px 2.5% 20px 2.5%;
}
#welcome>#container>#provide>.item>img{
    height: 70px;
    fill: white;
}
#welcome>#container>#provide>.item>b{
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
}
#welcome{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(235,235,235);
}
#welcome>#container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
#welcome>#container>span:nth-child(1){
    font-size: 40px;
    font-weight: bold;
}
#welcome>#container>span:nth-child(2){
    color: rgb(27,65,94);
    font-size: 18px;
    margin-top: 15px;
}
#welcome>#container>span:nth-child(3){
    height: 4px;
    width: 40px;
    border-radius: 20px;
    background-color:rgb(27,65,94);
    margin-top: 10px;
}
#welcome>#container>span:nth-child(4){
    line-height: 27px;
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
    color: rgba(0,0,0,0.7);
}
#wordsFromAdakxya{
    width: 100%;
}
#wordsFromAdakxya>#container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#wordsFromAdakxya>#container>#left{
    width: 50%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 15px;
}
#wordsFromAdakxya>#container>#left>#words{

}
#wordsFromAdakxya>#container>#left>#words>#title{
    display: flex;
    flex-direction: column;
}
#wordsFromAdakxya>#container>#left>#words>#title>span:nth-child(1){
    font-size: 25px;
    color:rgb(27,65,94) ;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}
#wordsFromAdakxya>#container>#left>#words>#content{
    font-size: 14px;
    line-height: 27px;
    text-align: justify;
    margin-top: 20px;
}
#wordsFromAdakxya>#container>#right{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
#wordsFromAdakxya>#container>#right>#profile{
    width: 100%;
    position: relative;
}
#wordsFromAdakxya>#container>#right>img{
    width: 100%;
    display: block;
}
#wordsFromAdakxya>#container>#right>#profile{
    position: absolute;
    bottom: 100px;
    left: -50px;
    display: flex;
    flex-direction: row;
}
#wordsFromAdakxya>#container>#right>#profile>img{
    width: 150px;
    border: 2px solid white;
    padding: 3px;
    border-radius: 3px;
}
#wordsFromAdakxya>#container>#right>#profile>#detail{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
#wordsFromAdakxya>#container>#right>#profile>#detail>span:nth-child(1){
    font-weight: bold;
    font-size: 25px;
    color:white;
    margin-top: 15px;
}
#wordsFromAdakxya>#container>#right>#profile>#detail>span:nth-child(2){
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
    color: white;
}
#wordsFromAdakxya>#container>#right>#profile>#detail>span:nth-child(3){
    font-size: 13px;
    color: rgba(0,0,0,0.5);
    margin-top: 5px;
    color: white;
    font-weight: bold;
}
#wordsFromAdakxya>#container>#right>#shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}